html, body {
    height: 100%;
}

.container {
    position: relative;
    top: 5%;
    /*transform: translateY(-100%);*/
    text-align: center;
}

.display {
    display: none;
}




/*.movieContainer {*/
/*    display: flex;*/
/*    float: left;*/
/*}*/

/*.formContainer {*/
/*    display: flex;*/
/*    float: right;*/
/*}*/