html, body {
    height: 30%;
}

.container {
    position: relative;
    top: 5%;
    /*transform: translateY(-100%);*/
    text-align: center;
}

.display {
    display: none;
}

.movieContainer{
    overflow: hidden;
    height: 500px;
}

#movieList{
    overflow: scroll;
    border-left: 8px solid black;
    border-top: 2px solid black;
    height: 100%;
    box-sizing: content-box;
    text-align: left;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}