html, body {
    height: 100%;
}

.container {
    position: relative;
    top: 5%;
    /*transform: translateY(-100%);*/
    text-align: center;
}

.display {
    display: none;
}

.movieContainer{
    overflow: hidden;
}

#movieList{
    overflow-y: auto;
    border-left: 8px solid black;
    border-top: 2px solid black;
    height: 65%;
    box-sizing: content-box;
    text-align: left;
}
::-webkit-scrollbar {
    /*width: 0px;*/
    background: transparent; /* make scrollbar transparent */
}




/*.movieContainer {*/
/*    display: flex;*/
/*    float: left;*/
/*}*/

/*.formContainer {*/
/*    display: flex;*/
/*    float: right;*/
/*}*/